

.content-container {
    display:flex;
    justify-content: center;
}
.content-grid {
    margin-top: 50px;
    width: 90%;
    height: 500px;
    display: flex;
    justify-content: center;
    background-color: #279bbe;
    flex-wrap: wrap;
}

.main {
    background-color: indigo;
    width: 65%;
    display:flex;
    justify-content: flex-start;
}

.photo-grid-item {
    width: 35%;
    background-color: #b2df6a;
}

.edit {
    border: 1px solid white;
    border-radius: 3px;
    width: 60px;
    height: 35px;
    color: white;
    background-color: black;
    padding: 5px;
    text-align: center;
    text-decoration: none;
}





