* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.menu-container {
    color: black;
    background-color: lightgrey;
    padding: 20px 0;
    display: flex;
    justify-content: center;
}

.menu {
    border:1px solid #000;
    width:900px;
}