[type=checkbox] {
    position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

[type=checkbox] + div  {
    cursor: pointer;

  }

[type=checkbox]:checked + div {
    outline: 2px solid #f00;
    background-color: rgb(117, 156, 102);
}
[type=checkbox]:hover + div {
    outline: 2px solid #f00;
    background-color: rgb(156, 163, 148);
}