

.content-container {
    display:flex;
    justify-content: center;
}

.content-grid-myA {
    margin-top: 50px;
    width: 90%;
    height: 700px;
    display: flex;
    justify-content: center;
    background-color: #279bbe;
    flex-wrap: wrap;
    border-radius: 5px;
}

.main-myA {
    background-color: indigo;
    height: 700px;
    width: 65%;
    display:flex;
    justify-content: flex-start;
    border-radius: 5px;
    flex-direction: column;
}

.side-pic-container {
    width: 35%;
    background-color: #b2df6a;
    border-radius: 5px;
}
.side-pic {
    border-radius: 5px;
}
.profile-container-myA {
    height: 650px;
    display:flex;

    justify-content: center;
    background-color: black;
   

} 
 .profile-pic-buffer-myA {
    display: flex;
    width: 25%;
    height: 100%;
    flex-direction: column;
    justify-content: center;

} 
.profilepic {
    height: 100px;
    width: 100px;
    
    border: 2px solid white;
    border-radius: 5px;
    
}
.buffer {
    width:10%;
}
.profile-text-buffer {
    width: 55%;
    display: flex;
    flex-direction: column;
    justify-content: center;
   
}
.edit-pic{
    margin-top: 10px;
}
.profile-text {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: white;
    height: 30%
  
}


.container {
    margin-top: 20px;
}


input[type="number"] {
    width: 100px;
}
  
input + span {
    padding-right: 30px;
}

input:invalid+span:after {
    position: absolute; content: '✖';
    padding-left: 5px;
    color: #8b0000;
}

input:valid+span:after {
    position: absolute;
    content: '✓';
    padding-left: 5px;
    color: #009000;
}
label {
    display: flex;
    align-items: center;
}

span::after {
    padding-left: 5px;
}

input:invalid + span::after {
    content: '✖';
}

input:valid+span::after {
    content: '✓';
}

