.slick-prev,
.slick-next {
  z-index: 1;
  color: black;
}

.slick-prev:before,
.slick-next:before {
  color: black;
}

#backgroundRecommendation {
  padding-top: 15px;
}

* {
  outline: none !important;
}
