.draggable {
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 2px;
  margin-bottom: 3px;
}

.slick-track {
  display: flex;
}
.slick-track .slick-slide {
  display: flex;
  height: auto;
  align-items: center;
  justify-content: center;
}

/* .scrolling-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}
.day-item {
  display: inline-block;
  width: 400px;
} */

.b {
  float: right;
  margin-right: 50px;
  margin-top: 15px;
  width: 100px;
  height: 35px;
}
